.container {
  display: flex;
  flex-direction: column;
  color: #282c34;
  align-items: center;
  font-family: 'Comfortaa', cursive;

  .text {
    margin-bottom: 10px;
  }

  .bold {
    font-weight: 600;
  }

  .tableWrapper {
    margin-top: 10px;
  }

  .arrowButtons {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}